exclude .gitignore
exclude .coverage
exclude .travis.yml
include README.rst
include setup.cfg
include LICENSE
include correlation/refdata/USStockCode.csv
prune .cache
prune .git
prune build
prune dist
recursive-exclude *.egg-info *
recursive-include tests *